.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.item {
  max-width: 800px;
  width: 100%;
  margin: auto;
  padding: 40px 0;
  display: flex;
}

.desc {
  padding: 0 20px;
}

.cart {
  width: 120px;
  height: 32px;
  background-color: #22303e;
  margin: 12px 0;
}

.counter {
  min-width: 5px;
  width: 5px;
  background: transparent;
  color: black;
  border: 0;
  cursor: pointer;
}

.price {
  justify-content: flex-start;
  font-size: 1.2rem;
  font-weight: 400;
}

.backlink {
  display: flex;
  align-items: center;
  margin: 10px;
  text-decoration: none;
  width: 160px;
  color: black;
}

.icon {
  width: 24px;
  height: 24px;
  padding-right: 6px;
}

.title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.row label {
  font-weight: 700;
  color: blue;
}
